@model IEnumerable<Minder.Models.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-default" })
</p>
@foreach (var item in Model)
{
    <h4>@Html.DisplayFor(modelItem => item.TimeSent)</h4>
    <h3>@Html.DisplayFor(modelItem => item.Subject)</h3>
    @Html.ActionLink("Details", "Details", new { @class = "btn btn-default", id = item.Id })
    @Html.ActionLink("Delete", "Delete", new { @class = "btn btn-default", id = item.Id })
    <hr/>

}
